.form {
  display: inline-flex;
  flex-direction: column;
  width: 33rem;
}

.form label {
  display: flex;
  margin-bottom: 0.4rem;
}

.form label span {
  flex-basis: 25%;
}

.form label input {
  flex-basis: 75%;
}

.radioButtonsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  padding: 0;
  margin-bottom: 0.4rem;
}

.radioButtonsContainer legend {
  position: absolute;
  transform: translateX(-9999px);
}

.radioButtonsContainer .legend {
  flex-basis: 25%;
}

.radioButtons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-basis: 75%;
  flex-wrap: wrap;
}

.radioButtons label {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.radioButtons input[type="radio"] {
  margin-top: 0.1rem;
  margin-bottom: 0;
  margin-right: 0.8rem;
}
